In [2]:
import csv
import pandas as pd
import numpy as np
import sqlite3

In [3]:
# Read csv file and save it as a dataframe
df = pd.read_csv('Hotel Reservation Dataset.csv')

# Create a sqlite3 database called hotel_reservation.db
conn = sqlite3.connect('hotel_reservation.db')

# Adjust arrival_date column to be of type date
df['arrival_date'] = pd.to_datetime(df['arrival_date'], format='%d-%m-%Y')

# Load dataframe to sqlite3
df.to_sql('hotel_reservation_table', conn, if_exists='replace')

700

In [4]:
# Q1: What is the total number of reservations in the dataset?

total_num_reservation_query = '''
SELECT COUNT(*) as total_num_reservation
FROM hotel_reservation_table;
'''

total_num_reservation_results = pd.read_sql_query(total_num_reservation_query, conn)
print(total_num_reservation_results)

   total_num_reservation
0                    700

In [5]:
# Q2: Which meal plan is the most popular among guests?

most_pop_meal_query = '''
SELECT type_of_meal_plan, COUNT(*) AS count
FROM hotel_reservation_table
GROUP BY type_of_meal_plan
ORDER BY count DESC
LIMIT 1;
'''

most_pop_meal_results = pd.read_sql_query(most_pop_meal_query, conn)
print(most_pop_meal_results)

  type_of_meal_plan  count
0       Meal Plan 1    527

In [6]:
# Q3: What is the average price per room for reservations involving children?

avg_price_per_room_children_query = '''
SELECT AVG(avg_price_per_room) AS avg_price_room_with_children
FROM hotel_reservation_table
WHERE no_of_children > 0;
'''

avg_price_per_room_children_results = pd.read_sql_query(avg_price_per_room_children_query, conn)
print(avg_price_per_room_children_results)

   avg_price_room_with_children
0                    144.568333

In [7]:
# Q4: How many reservations were made for the year 20XX (replace XX with the desired year)?

reservations_2018_query = '''
SELECT COUNT(*) AS reservations_for_2018
FROM hotel_reservation_table
WHERE strftime('%Y', arrival_date) = '2018';
'''

reservations_2018_results = pd.read_sql_query(reservations_2018_query, conn)
print(reservations_2018_results)

   reservations_for_2018
0                    577

In [8]:
# Q5: What is the most commonly booked room type?

most_booked_room_query = '''
SELECT room_type_reserved, COUNT(*) AS count
FROM hotel_reservation_table
GROUP BY room_type_reserved
ORDER BY count DESC
LIMIT 1;
'''

most_booked_room_results = pd.read_sql_query(most_booked_room_query, conn)
print(most_booked_room_results)

  room_type_reserved  count
0        Room_Type 1    534

In [9]:
# Q6: How many reservations fall on a weekend (no_of_weekend_nights > 0)?

weekend_reservations_query = '''
SELECT COUNT(*) AS weekend_reservations
FROM hotel_reservation_table
WHERE no_of_weekend_nights > 0;
'''

weekend_reservations_results = pd.read_sql_query(weekend_reservations_query, conn)
print(weekend_reservations_results)

   weekend_reservations
0                   383

In [10]:
# Q7: What is the highest and lowest lead time for reservations?

highest_lowest_leadtime_query = '''
SELECT MAX(lead_time) AS highest_lead_time, MIN(lead_time) AS lowest_lead_time
FROM hotel_reservation_table;
'''

highest_lowest_leadtime_results = pd.read_sql_query(highest_lowest_leadtime_query, conn)
print(highest_lowest_leadtime_results)

   highest_lead_time  lowest_lead_time
0                443                 0

In [11]:
# Q8: What is the most common market segment type for reservations?

highest_lowest_leadtime_query = '''
SELECT market_segment_type, COUNT(*) AS count
FROM hotel_reservation_table
GROUP BY market_segment_type
ORDER BY count DESC
LIMIT 1;
'''

highest_lowest_leadtime_results = pd.read_sql_query(highest_lowest_leadtime_query, conn)
print(highest_lowest_leadtime_results)

  market_segment_type  count
0              Online    518

In [12]:
# Q9: How many reservations have a booking status of "Confirmed"?

booking_confirmed_query = '''
SELECT COUNT(*) AS confirmed_booking
FROM hotel_reservation_table
WHERE booking_status = 'Confirmed';
'''

booking_confirmed_results = pd.read_sql_query(booking_confirmed_query, conn)
print(booking_confirmed_results)

   confirmed_booking
0                  0

In [13]:
# Q10: What is the total number of adults and children across all reservations?

num_adults_children_query = '''
SELECT SUM(no_of_adults) AS num_adults, SUM(no_of_children) AS num_children
FROM hotel_reservation_table;
'''

num_adults_children_results = pd.read_sql_query(num_adults_children_query, conn)
print(num_adults_children_results)

   num_adults  num_children
0        1316            69

In [14]:
# Q11: What is the average number of weekend nights for reservations involving children?

avg_num_week_children_night_query = '''
SELECT AVG(no_of_weekend_nights) AS avg_weekend_nights_with_children
FROM hotel_reservation_table
WHERE no_of_children > 0;
'''

avg_num_week_children_night_results = pd.read_sql_query(avg_num_week_children_night_query, conn)
print(avg_num_week_children_night_results)

   avg_weekend_nights_with_children
0                               1.0

In [15]:
# Q12: How many reservations were made in each month of the year?

num_reservations_each_month_query = '''
SELECT strftime('%m', arrival_date) AS month, COUNT(*) AS num_reservations
FROM hotel_reservation_table
GROUP BY month
ORDER BY month;
'''

num_reservations_each_month_results = pd.read_sql_query(num_reservations_each_month_query, conn)
print(num_reservations_each_month_results)

   month  num_reservations
0     01                11
1     02                28
2     03                52
3     04                67
4     05                55
5     06                84
6     07                44
7     08                70
8     09                80
9     10               103
10    11                54
11    12                52

In [16]:
# Q13: What is the average number of nights (both weekend and weekday) spent by guests for each room type?

avg_num_nights_query = '''
SELECT room_type_reserved, 
AVG(no_of_weekend_nights + no_of_week_nights) AS avg_nights
FROM hotel_reservation_table
GROUP BY room_type_reserved;
'''

avg_num_nights_results = pd.read_sql_query(avg_num_nights_query, conn)
print(avg_num_nights_results)

  room_type_reserved  avg_nights
0        Room_Type 1    2.878277
1        Room_Type 2    3.000000
2        Room_Type 4    3.800000
3        Room_Type 5    2.500000
4        Room_Type 6    3.611111
5        Room_Type 7    2.666667

In [17]:
# Q14: For reservations involving children, what is the most common room type, and what is the average price for that room type?

most_common_room_type_query = '''
SELECT room_type_reserved, COUNT(*) AS count, AVG(avg_price_per_room) AS avg_price_for_room
FROM hotel_reservation_table
WHERE no_of_children > 0
GROUP BY room_type_reserved
ORDER BY count DESC
LIMIT 1;
'''

most_common_room_type_results = pd.read_sql_query(most_common_room_type_query, conn)
print(most_common_room_type_results)

  room_type_reserved  count  avg_price_for_room
0        Room_Type 1     24          123.122917

In [17]:
# Q15: Find the market segment type that generates the highest average price per room.

market_segment_with_highest_avg_price_query = '''
SELECT market_segment_type, AVG(avg_price_per_room) AS highest_avg_price_per_room
FROM hotel_reservation_table
GROUP BY market_segment_type
ORDER BY highest_avg_price_per_room DESC
LIMIT 1;
'''

market_segment_with_highest_avg_price_results = pd.read_sql_query(market_segment_with_highest_avg_price_query, conn)
print(market_segment_with_highest_avg_price_results)

  market_segment_type  highest_avg_price_per_room
0              Online                  112.455212